
:root{
    --background-color:#ffffff;
    --background-light:#ffffff;
    --shadow-color:rgba(0,0,0,0.2);
    --primary-color:rgb(6, 72, 255);
    --text-color:#0A0A0A;
    --text-light:#575757;
    --font-size:16px;
    --animation-speed:1;
}


