@import "Colors.scss";
@media screen and (max-width:730px) {
 
    .navbar{
        .nav-links{
            display: none;
        }
        .sidebar-btn{
            display: block;
        }
    }
    .container{
     padding-top: 70px;
    }
    .section{
        .col{
            width: 100%;
            margin-top: 2rem;
            padding: 0 !important;
            padding-top: 10px;
            text-align: center;
            margin-bottom: 2em;
          .typography{
            font-size: 2em;
        
          }
        }
      
    }
    .list{
        display: inline-block;
        margin-right: 1em;
        border-right: 3px solid var(--primary-color);
        padding-right: 10px;
        margin-top: 10px;
        
    }
    .footer{

        grid-template-columns: repeat(4,1fr);
        .footer-section:nth-child(1){
            grid-column: span 4;
        }
        .footer-section:nth-child(2), .footer-section:nth-child(3){
            grid-column: span 2;
          

          
        }
      
    }
    .sidebar {
        padding-top: 52px;
    }
    .con{
        .middle{
            left: 40%;
        }
        .middle-text{
            font-size: 2.8em;
            left: 29%;
            top: 42%;
        }
        .middle-text2{
            top: 65%;
            left: 24%;
            width: 80%;
        }
    }
}

@media screen and (max-width:1050px){
    // .con{
    //     .middle{
    //         left: 53%;
    //     }
    //     .middle-text{
    //         font-size: 2.8em;
    //         left: 29%;
    //         top: 42%;
    //     }
    //     .middle-text2{
    //         top: 56%;
    //         left: 24%;
    //         width: 80%;
    //     }
    // }
    .container{
        padding-inline: 12vw;
    }
    .sidebar {
        padding-top: 52px;
    }
}
@media screen and (max-width:480px) {
    .container{
        padding-inline: 3vw;
    }
}